body {
  background: #22262b !important;
  color: white !important
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 500px;
  gap: 1.5rem
}

.toolGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 500px;
  gap: 1.5rem
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 1200px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1000px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .toolGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 0

  }
}
@media only screen and (max-width: 780px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

